* {
  font-family: "Open Sans";
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10pt;
  line-height: 1;
}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 2em;
  background-color: #333;
  border-bottom: 2px solid #000;
  color: #fff;
  font-weight: 300;
  margin-bottom: 15px;
}
.slide-container {
  text-align: center;
}
.slide-container .slides {
  display: inline-block;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
}
.slide-container .slides img {
  display: block;
  border-radius: 5px;
}
.slide-container .slides .hidden {
  display: none;
}
