html,
body {
  height: 100%;
}
body,
input {
  font-family: "Montserrat";
}
body {
  padding-top: 55px;
}
#intro {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
#intro::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#intro img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
}
#intro .content {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 5;
  color: #fff;
}
#intro .content h1 {
  margin: 20px 0;
  font-size: 4.5em;
  font-weight: 300;
}
#intro .content h2 {
  padding: 0;
  border: none;
}
#intro .content h3 {
  font-size: 1.5em;
  font-weight: 300;
}
section {
  margin-bottom: 25px;
}
section h2 {
  text-align: center;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccf;
}
