html,
body {
  height: 100%;
  background-color:bisque;
}
body,
input {
  font-family: "Montserrat";
}
p{
  font-style:italic;
  color: darkslategrey;
}
#intro {

  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
#intro::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#intro img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
}
#intro img.photo{
  position: relative;
  max-width: 50%;
  min-width: 10px;
  min-height: auto;
}
#intro .content {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 5;
  color: #fff;
}
#intro .content h1 {
  margin: 20px 0;
  font-size: 4.5em;
  font-weight: 300;
}
#intro .content h2 {
  padding: 0;
  border: none;
}
#intro .content h3 {
  font-size: 1.5em;
  font-weight: 300;
}
#intro .content .socials {
  padding: 35px 0;
}
#intro .content .socials a {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  padding: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1.25;
  border: 1px solid #fff;
  border-radius: 100%;
  margin: 0 10px;
  transition: all 0.15s linear;
  transform: scale(1);
}
#intro .content .socials a:hover {
  color: #ccf;
  border: 1px solid #ccf;
  transform: scale(1.5);
}
section {
  margin-bottom: 25px;
}
section h2 {
  text-align: center;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccf;
}
