html,
body {
  height: 100%;
}
body,
input {
  font-family: "Montserrat";
}
body {
  padding-top: 55px;
}
#intro {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#intro img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
}
section {
  margin-bottom: 25px;
}
section h2 {
  text-align: center;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccf;
}
