html,
body {
  height: 100%;
}
body,
input {
  font-family: "Montserrat";
}
body {
  padding-top: 55px;
}
#intro {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#intro img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
}
